
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(48, 255, 162);
    --background: #000000;
    --text-secondary: #8794a0;
    --border: #1a1a1a;
  }

  body {
    background-color: var(--background);
    color: white;
    font-family: 'Silkscreen', system-ui, sans-serif;
  }
}

@keyframes gridMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Hide scrollbars */
::-webkit-scrollbar {
  width: 0px !important;
  display: none !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
